.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.search-bar input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.btn.primary {
  background-color: #7209B7;
  color: white;
}
